// --------------------------------
// Custom Blocks

.vp-doc .custom-block {
  margin: 44px 0;
  padding: 32px 32px;
  padding-left: 76px;
  border: none;
  border-radius: 8px;
  box-shadow:
    inset 0 0 0 1px var(--block-border-color),
    inset 40px 92px 64px -40px rgba(255, 255, 255, 0.6);

  @media (max-width: 500px) {
    padding-left: 18px;
    padding-right: 18px;
  }

  &:not(:root.dark &) {
    --vp-custom-block-tip-bg: rgb(246, 252, 250);
    --vp-custom-block-tip-border: rgba(0, 136, 120, 0.5);
    --vp-custom-block-tip-text: rgb(0, 125, 111);
    --vp-custom-block-warning-text: rgb(202, 135, 0);
    --vp-custom-block-warning-border: rgb(255, 200, 0);
    --vp-custom-block-warning-bg: rgba(255, 200, 0, 0.032);
  }
  :root.dark & {
    --vp-custom-block-tip-bg: var(--vp-c-green-dim-1);
    --vp-custom-block-tip-text: hsl(165 100% 60%);
    --vp-custom-block-tip-border: hsl(172, 100%, 19%);
    --vp-custom-block-warning-text: rgb(255, 183, 0);
    box-shadow:
      inset 0 0 0 1px var(--block-border-color),
      inset 40px 92px 84px -40px rgba(0, 0, 0, 0.6);
    background-color: var(--vp-c-bg-alt);
  }

  &.info {
    --block-border-color: var(--vp-custom-block-info-border);
    --block-icon-color: var(--vp-custom-block-info-text);
    --block-icon-url: url('@theme/icons/fa-books-light.svg');
  }
  &.tip {
    --block-border-color: var(--vp-custom-block-tip-border);
    --block-icon-color: var(--vp-custom-block-tip-text);
    --block-icon-url: url('@theme/icons/fa-sparkles-regular.svg');
  }
  &.warning {
    --block-border-color: var(--vp-custom-block-warning-border);
    --block-icon-color: var(--vp-custom-block-warning-text);
    --block-icon-url: url('@theme/icons/fa-triangle-exclamation-regular.svg');
  }
  &.danger {
    --block-border-color: var(--vp-custom-block-danger-border);
    --block-icon-color: var(--vp-custom-block-danger-text);
    --block-icon-url: url('@theme/icons/fa-triangle-exclamation-regular.svg');
  }
  &.details {
    --block-border-color: var(--vp-custom-block-details-border);
    --block-icon-color: var(--vp-custom-block-details-text);
    --block-icon-url: url('@theme/icons/fa-gear.svg');
  }
}

.vp-doc h2 + .custom-block {
  margin-top: 32px;
}

.vp-doc .custom-block p {
  margin: 2px 0 0;
  font-size: 14px;
  line-height: 1.8;

  &.custom-block-title {
    position: relative;
    margin-bottom: 8px;
    @media (max-width: 500px) {
      margin-left: 42px;
      margin-bottom: 14px;
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -44px;
      width: 24px;
      height: 24px;
      background-color: var(--block-icon-color);
      mask-image: var(--block-icon-url);
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: contain;
      @media (max-width: 500px) {
        left: -40px;
      }
    }
  }
}

.vp-doc .custom-block p:not(.custom-block-title),
.vp-doc .custom-block ol,
.vp-doc .custom-block ul {
  color: var(--vp-c-text-1);
}
.vp-doc .custom-block ol,
.vp-doc .custom-block ul {
  margin: 12px 0;
}

.vp-doc .custom-block a {
  transition-duration: 0.1s;
}

.vp-doc .custom-block code {
  color: var(--vp-c-text-1);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  :root.dark & {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.16);
  }
}

.vp-doc .custom-block ul {
  margin-bottom: 0;
}

.vp-doc .custom-block summary {
  position: relative;
  margin: 0;
  &::marker {
    content: '▷\a0\a0\a0';
  }
}
.vp-doc .custom-block[open] summary::marker {
  content: '▽\a0\a0\a0';
}

.vp-doc .custom-block div[class*='language-'] {
  margin: 24px 0;
  &:last-child {
    margin-bottom: 0;
  }
}
