// Fix enormous line-height of navbar items
.VPNavBarMenu .VPNavBarMenuLink {
  min-height: var(--vp-nav-height-mobile);
  line-height: 1.32;
  @media (min-width: 960px) {
    min-height: var(--vp-nav-height-desktop);
  }
}

// Don't clip text in the outline
.VPDocAsideOutline .outline-link {
  white-space: normal;
  text-overflow: initial;
  padding: 5px 0;
  font-size: 13px;
  line-height: 18px;
}
