// --------------------------------
// -- Sidebar

// Use empty space in docs navs more effectively.
// Using existing default fallback styles where possible to negate calc()-type sizes.
.VPSidebar {
  --active-indicator-padding: 16px;
  --vp-sidebar-width: 308px;
  --vp-new-padding: calc(32px - var(--active-indicator-padding));
  padding-left: var(--vp-new-padding) !important;
  padding-right: var(--vp-new-padding) !important;
  padding-bottom: 32px !important;
  width: var(--vp-sidebar-width) !important;
  @media (max-width: 1500px) {
    --vp-sidebar-width: 272px;
  }
  @media (max-width: 960px) {
    --vp-sidebar-width: 308px;
  }
}

.VPSidebar > .nav {
  margin-top: 24px;
}

.VPSidebar > .nav > .group {
  width: unset;
  margin-inline: 8px;
}

.VPSidebarItem.link {
  transition-duration: 0.1s;
  transition-property: opacity, box-shadow;
}

.VPSidebarItem.level-0 {
  font-size: 13px;
  &:hover:not(.is-active) {
    opacity: 1;
    color: var(--vp-c-text-1);
  }
}

.VPSidebarItem.level-0 > .items {
  margin-top: 10px;
}

.VPSidebarItem .VPLink {
  line-height: 1.1;
  margin: 0;
  padding: 9px 12px;
  transition-duration: 0.1s;
  transition-property: background-color, box-shadow, color;

  & .text {
    padding: 0;
    font-size: 13px !important;
    line-height: 1.32 !important;
    transition-duration: 0.1s;
    transition-property: color, opacity;
  }

  &:hover .text {
    color: var(--vp-c-text-1) !important;
  }
}

.VPSidebarItem.is-active > .item > .link > .text {
  color: var(--vp-c-text-1) !important;
}

.VPSidebarItem.level-1 {
  margin-inline: -12px;
  &:has(.items) {
    padding-bottom: 8px;
  }
}

.VPSidebarItem.level-1.has-active {
  position: relative;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  background-color: #fff;

  :root.dark & {
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.08);
    background-color: var(--vp-c-bg);
  }
}

#VPSidebarNav .VPSidebarItem.level-1 > .items {
  margin-left: 14px;
  padding-left: 0;

  .indicator {
    left: 0px;
  }
  .VPLink {
    padding-block: 7px;
  }
}

#VPSidebarNav .VPSidebarItem.level-1.has-active > .items {
  border-color: transparent;
}
